@import '../../static/scss/colours';
@import '../../static/scss/mixin';

.tradeStreamPage {
  height: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      width: 65%;
    }
  }
  .footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0dabd1;
    color: white;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    .btnGo {
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
      height: 30px;
      width: auto;
      margin: auto;
    }
  }
}
