.toastWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000a0;
  z-index: 10;
  .toastMessage {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 65px;
    width: 380px;
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
    .icon {
      width: 45px;
      height: 45px;
      padding: 10px;
    }
    .name {
      flex: 1;
      .textOne {
        font-size: 20px;
        font-weight: 600;
      }
      .textTwo {
        font-size: 17px;
      }
    }
    .closeIcn {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  }
}
