@import 'chart-icon-font';
@import 'colors';
@import 'navicon-font';
@import 'navbar';
@import 'home';
@import 'contentCard_Home';
@import 'menu-layout';
@import 'deposit-modal';
@import 'leaderboard-drawer';
@import 'loader';
@import 'noChartView';
@import 'coins-sidebar';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$trans-time: 300ms;
$width: 500px;

body {
  font-family: 'Poppins', sans-serif;
}
.black-full-page {
  background-color: black;
  height: 100vh;
  .token-logo {
    width: 30vh;
  }
  .token-title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 10vh;
    margin-bottom: 1vh;
    i {
      font-size: 8vh;
    }
  }
  .token-sub-title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 5vh;
  }
  .login-form {
    .group {
      position: relative;
      margin: 40px 0;
    }
    input,
    button {
      width: $width;
      @media only screen and (max-width: #{768px}) {
        width: 100%;
      }
    }
    input[type='password'],
    input[type='text'] {
      background: none;
      color: whitesmoke;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid whitesmoke;
      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: -14px;
        font-size: 12px;
        color: white;
      }
      &:focus ~ .bar:before {
        width: $width;
      }
    }

    input[type='password'] {
      letter-spacing: 0.3em;
    }

    label {
      color: whitesmoke;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: $trans-time ease all;
    }
  }
}
.opt-layout {
  width: 100%;
  @media only screen and (max-width: #{992px}) {
    height: unset;
  }
}
