@import '../../static/scss/colours';
@import '../../static/scss/mixin';

.topNavbarAppsSubMenuWrap {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: all 400ms ease;
  .overlay {
    z-index: 1;
    background-color: $overlay-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .topNavbarAppsSubMenu {
    transition: all 400ms ease;
    border-top: 1px solid $border-color;
    z-index: 1;
    margin-top: 130px;
    height: 0;
    background-color: white;
    display: flex;
    overflow: hidden;
    .tabDetailContent {
      padding: 30px 6%;
      padding-bottom: 0;
      width: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      .titlle {
        line-height: 1;
        font-size: 25px;
        font-weight: bold;
      }
      .subtitle {
        margin-top: 5px;
        font-size: 12px;
      }
      .actionList {
        height: 0;
        flex: 1;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: auto;
        .action {
          flex: 0 0 30%;
          display: flex;
          align-items: center;
          margin-bottom: 40px;
          @include btn-animate;
          color: $primary-color;
          text-decoration: none;
          .icon {
            height: 50px;
            width: 50px;
            padding: 6px;
            border-radius: 10px;
            border: 1px solid $border-color;
            margin-right: 10px;
          }
          .detail {
            .actName {
              font-size: 20px;
              font-weight: 600;
              text-decoration: none;
            }
            .actDesc {
              font-size: 15px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &.true {
    height: 100%;
    .topNavbarAppsSubMenu {
      height: 378px;
      min-height: 378px;
    }
  }
}
