@import '../../static/scss/colours';
@import '../../static/scss/mixin';

.vaults {
  height: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .assetClassWrap {
    height: 100px;
    border-bottom: 1px solid $border-color;
    display: flex;
    margin-bottom: 1rem;
    .assetClass {
      width: 0;
      flex: 1;
      display: flex;
      overflow-x: scroll;
      .assetClassCard {
        display: flex;
        align-items: center;
        padding: 0 60px;
        opacity: 0.25;
        transition: all 400ms ease;
        img {
          transition: all 400ms ease;
          height: 35%;
          width: auto;
          transform-origin: center center;
        }
        &:hover {
          opacity: 0.7;
          img {
            transform: scale(1.05);
          }
        }
        &.true {
          opacity: 1;
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .contentArea {
    height: 0;
    flex: 1;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
  }
}

.vaultHeader {
  height: 60px;
  display: flex;
  margin-bottom: 3rem;
  .vaultNbalance {
    color: $primary-color;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .vault {
      font-size: 17px;
    }
    .balance {
      font-size: 37px;
      font-weight: bold;
      small {
        cursor: pointer;
        font-size: 22px;
      }
    }
  }
  .coinSelect {
    display: flex;
    margin-left: auto;
    .coinWrap {
      height: 60px;
      width: 60px;
      border-radius: 6px;
      border: 1px solid $border-color;
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include btn-animate;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 1px;
      img {
        width: 40px;
        height: 40px;
      }
      &.true {
        box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.1),
          0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.vaultFilter {
  height: 50px;
  display: flex;
  margin-bottom: 1rem;
  .appSelectWrap,
  .allTxnWrap,
  .allDirectionWrap {
    width: fit-content;
    margin-right: 20px;
    .appSelected,
    .txnSelected,
    .dirSelected {
      display: flex;
      height: 100%;
      border: 1px solid $border-color;
      padding: 0 20px;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      .icon {
        height: 60%;
        margin-right: 8px;
      }
      .appName {
        font-size: 17px;
        font-weight: 600;
      }
      .label {
        font-size: 15px;
        font-weight: 400;
      }
      .caret {
        margin-left: 12px;
        height: 8px;
      }
      &:hover {
        background: whitesmoke;
      }
    }
  }
  .searchWrap {
    width: fit-content;
    margin-left: auto;
    .searchHead {
      display: flex;
      height: 100%;
      border: 1px solid $border-color;
      padding: 0 20px;
      align-items: center;
      border-radius: 8px;
      .searcInp {
        width: 260px;
        border: none;
        background: none;
      }
      .searchIcon {
        margin-left: 12px;
        height: 60%;
      }
    }
  }
}

.vaultsView {
  height: 0 !important;
  flex: 1;
  margin-top: 20px;
  > div {
    .day {
      margin-top: 2rem;
      font-size: 16px;
      line-height: 1;
      padding: 6px 0;
      font-weight: bold;
    }
    .vaultItmWrap {
      border: 1px solid transparent;
      overflow: hidden;
      .vaultsItm {
        display: flex;
        height: 100px;
        align-items: center;
        padding-right: 60px;
        .img {
          height: 40px;
          width: 40px;
          border-radius: 20px;
          margin: auto 20px;
        }
        .nameDate {
          height: 100%;
          display: flex;
          line-height: 1;
          flex-direction: column;
          justify-content: center;
          margin-right: auto;
          flex: 0 0 50%;
          max-width: calc(45% - 40px);
          overflow: hidden;
          .name {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .date {
            font-size: 11px;
          }
        }
        .buttons {
          flex: 1;
          display: flex;
          justify-content: center;
          height: 35px;
          .btnNotes,
          .btnEdit,
          .btnTxn,
          .btnChat {
            height: 35px;
            border: 1px solid $border-color;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            border-radius: 8px;
            @include btn-animate;
          }
          .btnNotes {
            padding: 0 15px;
            font-weight: 600;
          }
          .btnEdit,
          .btnTxn,
          .btnChat {
            padding: 6px;
            width: 35px;
          }
        }
        .credit,
        .debit,
        .balance {
          flex: 0 0 10%;
          max-width: 10%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 18px;
          text-align: right;
          .expand {
            display: none;
          }
        }
        .credit {
          color: $primary-green;
        }
        .debit {
          color: $primary-red;
        }
        .balance {
          color: $primary-color;
          font-weight: bold;
        }
      }
      .vaultsExpand {
        display: none;
        padding: 0 60px 0 80px;
        display: flex;
        flex-direction: column;
        .viewInAnother {
          display: flex;
          height: 100px;
          align-items: center;
          .viewCurrency {
            flex: 1;
            display: flex;
            align-items: center;
            .view {
              font-weight: 600;
            }
            .btnCoin {
              height: 35px;
              border: 1px solid $border-color;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              border-radius: 8px;
              padding: 0 15px;
              font-weight: 600;
              margin: 0 15px;
              @include btn-animate;
              .btnIcon {
                height: 22px;
                width: 22px;
                margin-right: 8px;
              }
            }
            .rateLiveHistorical {
              display: flex;
              align-items: center;
              .false,
              .true {
                font-size: 15px;
                font-weight: 400;
                transition: all 400ms ease;
              }
              .true {
                font-weight: 600;
              }
              .btnOutline {
                height: 24px;
                width: 40px;
                border-radius: 12px;
                border: 3px solid $primary-color;
                margin: 0 8px;
                display: flex;
                align-items: center;
                position: relative;
                .btnBall {
                  height: 16px;
                  width: 16px;
                  border-radius: 8px;
                  background-color: $primary-color;
                  position: absolute;
                  left: 1px;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  transition: all 400ms ease;
                  &.true {
                    left: 17px;
                  }
                }
              }
            }
          }
          .credit,
          .debit,
          .balance {
            flex: 0 0 12%;
            max-width: calc(10% + 8px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 18px;
            text-align: right;
            .expand {
              display: none;
            }
          }
          .credit {
            color: $primary-green;
          }
          .debit {
            color: $primary-red;
          }
          .balance {
            color: $primary-color;
            font-weight: bold;
          }
        }
        .txnType {
          height: 90px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .text {
            font-weight: 600;
          }
          .txnIcon {
            height: 26%;
            width: auto;
          }
        }
        .from,
        .to {
          display: flex;
          flex-direction: column;
          margin: 30px 0;
          .textFromTo {
            font-size: 18px;
            font-weight: 600;
          }
          .txnFromTo {
            height: 60px;
            display: flex;
            margin: 10px 0;
            .userCard {
              border-radius: 10px;
              border: 1px solid $border-color;
              margin-right: auto;
              display: flex;
              padding: 5px 0;
              .user,
              .liquidity,
              .coin {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 30px;
                font-size: 19px;
                font-weight: 600;
              }
              .user {
                line-height: 1;
                .dp {
                  height: 40px;
                  width: 40px;
                  border-radius: 20px;
                  margin-right: 12px;
                }
                .nameAppCode {
                  .name {
                    font-size: 19px;
                    font-weight: 600;
                  }
                  .appCode {
                    font-size: 16px;
                    font-weight: 400;
                  }
                }
              }
              .liquidity {
                border: 1px $border-color;
                border-style: none solid;
              }
              .coin {
                .coinIcon {
                  height: 36px;
                  width: 36px;
                  margin-right: 10px;
                }
              }
            }
            .credit,
            .debit,
            .balance {
              flex: 0 0 12%;
              max-width: calc(10% + 8px);
              display: flex;
              justify-content: flex-end;
              align-items: center;
              font-size: 18px;
              text-align: right;
              .expand {
                display: none;
              }
            }
            .credit {
              color: $primary-green;
            }
            .debit {
              color: $primary-red;
            }
            .balance {
              color: $primary-color;
              font-weight: bold;
            }
          }
        }
      }
      &:hover {
        background: whitesmoke;
      }
      &.true {
        border: 1px solid $border-color;
        border-radius: 16px;
        .vaultsItm {
          height: 100px;
          .credit,
          .debit,
          .balance {
            font-size: 19px;
            font-weight: 600;
          }
        }
        .vaultsExpand {
          display: flex;
          hr {
            margin: 0;
            border-color: $border-color;
          }
        }
      }
    }
  }
}
