@import '../../static/scss/colours';
@import '../../static/scss/mixin';

.homePage {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  .contentArea {
    height: 0;
    flex: 1;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    .textArea {
      z-index: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 55%;
      .title {
        font-size: 50px;
        color: $primary-color;
        font-weight: bolder;
      }
      .titleMob {
        display: none;
        color: $primary-color;
        font-weight: 600;
      }
      .desc {
        padding-left: 30px;
        line-height: 2;
        font-size: 18px;
        margin: 30px 0;
        white-space: nowrap;
        span {
          font-weight: 600;
        }
      }
      .btns {
        margin-top: 20px;
        display: flex;
        height: 55px;
        .btnApp,
        .btnColor {
          min-width: 220px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: 500;
          margin-right: 20px;
          text-decoration: none;
        }
        .btnApp {
          background: $app-color;
          color: white;
          border: 1px solid $app-color;
          @include btn-animate(white);
        }
        .btnColor {
          background: $primary-color;
          color: white;
          border: 1px solid $primary-color;
          @include btn-animate(white);
        }
      }
    }
    .bgWrap {
      z-index: 0;
      height: 80%;
      max-width: 45%;
      flex: 0 0 45%;
      margin: auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .bgImg {
        height: 100%;
        width: auto;
        margin: auto;
      }
    }
  }
  @include mdportrait {
    .contentArea {
      .textArea {
        max-width: 100%;
        .title {
          display: none;
        }
        .titleMob {
          display: block;
          text-align: center;
          font-size: 32px;
          span {
            font-size: 27px;
          }
        }
        .desc {
          width: 100%;
          text-align: center;
          font-size: 16px;
          white-space: unset;
        }
        .btns {
          display: flex;
          height: 40px;
          justify-content: center;
          .btnWhite,
          .btnColor {
            min-width: unset;
            border-radius: 20px;
            flex: 0 0 35%;
            margin: 0 6px;
            font-size: 15px;
          }
        }
      }
      .bgImg {
        display: none;
      }
    }
  }
}

.homePageMobile {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 80px;
  position: relative;
  .title {
    font-size: 50px;
    font-weight: bolder;
    white-space: nowrap;
    line-height: 1.2;
    margin: 40px 20px 0 20px;
    color: $primary-color;
    text-align: center;
    span {
      color: $app-color;
    }
  }
  .subTitle {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    width: 90%;
    margin: 30px auto;
    line-height: 2;
  }
  .cardForUser {
    margin: 10px 30px;
    height: 100px;
    flex: 0 0 100px;
    border: 1px solid $border-color;
    border-radius: 15px;
    padding: 0 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    .cardTitle {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .cardSubTitle {
      font-size: 11px;
    }
    .bar {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 5%;
    }
  }
  .footerBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: $app-color;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-left: 5px;
      height: 15px;
    }
  }
}
