@import '../../static/scss/colours';
@import '../../static/scss/mixin';

.homePage {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  .contentArea {
    height: 0;
    flex: 1;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    .textArea {
      z-index: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 45%;
      max-width: 45%;
      .title {
        font-size: 50px;
        color: $primary-color;
        font-weight: bolder;
      }
      .desc {
        line-height: 2;
        font-size: 18px;
        margin: 30px 0;
      }
      .btns {
        margin-top: 20px;
        display: flex;
        height: 55px;
        .btnApp,
        .btnColor {
          min-width: 220px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: 500;
          margin-right: 20px;
          text-decoration: none;
          img {
            height: 18px;
            width: auto;
            margin-right: 8px;
          }
        }
        .btnApp {
          background: $app-color;
          color: white;
          border: 1px solid $app-color;
          @include btn-animate(white);
        }
        .btnColor {
          background: $primary-color;
          color: white;
          border: 1px solid $primary-color;
          @include btn-animate(white);
        }
      }
    }
    .bgWrap {
      max-width: 45%;
      flex: 0 0 45%;
      .bg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .footerBtn {
    flex: 0 0 80px;
    height: 80px;
    background: $app-color;
    display: flex;
    justify-content: center;
    align-items: center;
    @include btn-animate(white);
    .ftIcon {
      height: 60%;
      width: auto;
    }
  }
}

.homePageMobile {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 80px;
  position: relative;
  .title {
    font-size: 50px;
    font-weight: bolder;
    white-space: nowrap;
    line-height: 1.2;
    margin: 40px 20px 0 20px;
    color: $primary-color;
    text-align: center;
    span {
      color: $app-color;
    }
  }
  .subTitle {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    width: 90%;
    margin: 30px auto;
    line-height: 2;
  }
  .cardForUser {
    margin: 10px 30px;
    height: 100px;
    flex: 0 0 100px;
    border: 1px solid $border-color;
    border-radius: 15px;
    padding: 0 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    .cardTitle {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .cardSubTitle {
      font-size: 11px;
    }
    .bar {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 5%;
    }
  }
  .footerBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: $app-color;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-left: 5px;
      height: 15px;
    }
  }
}
